<!DOCTYPE html>
<html lang="en">
<head>
    {% include "pos/header_pos.html" %}
</head>
<body>
<div id="app">
    <div
            class="modal fade"
            id="staticBackdrop"
            data-backdrop="static"
            data-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
    >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                                else.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        {#slide show#}
        <nav class="main-header navbar navbar-expand-md bg-info p-0 m-0">
            <div class="container-fluid p-0 m-0">
                <a href="https://clinic.phama-tech.com/admin" class="navbar-brand">
                    <img src="https://i.pinimg.com/originals/6e/cb/91/6ecb91e73eab30f51b0b29a880338147.png"
                         style="width: 50px;height: 50px;border-radius: 50%">
                </a>
                <marquee>
                <span
                        class="brand-text font-weight-light"
                        style="font-family: Moul;font-size: 50px; color: white"
                >
                    បញ្ញាលក់គ្រឿងបន្លាស់ទូរសព្ទ័ដៃគ្រប់ប្រភេទ 🐣🐸🥬
                </span>
                </marquee>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                {#product_card#}
                <div class="col-6">
                    {# category #}
                    <div class="row"
                         style="position: sticky; top: 0; z-index: 100"
                    >
                        <div class="col-12 p-1 bg-white"
                             style=" box-shadow: 1px 9px 25px -11px gray"
                        >
                            <button
                                    type="button"
                                    class="btn btn-outline-info mr-2"
                                    style="text-transform: uppercase"
                            >
                                All Category
                            </button>
                            <button
                                    v-for="(item, index) in category_list"
                                    :key="'category_list_'+index"
                                    type="button"
                                    class="btn btn-outline-info mr-2"
                                    style="text-transform: uppercase"
                            >
                                [[ item.name ]]
                            </button>
                        </div>
                    </div>
                    {# prouct #}
                    <div
                            class="row mt-1"
                            style="max-height: 85vh; overflow: scroll"
                    >
                        <div
                                v-for="(item, index) in product_list"
                                :key="'product_list'+index"
                                class="col-lg-2 col-md-6 col-sm-6 col-3 mb-3 mt-3 ml-3 mr-5"
                        >
                            <div
                                    @click="addToList(item)"
                                    style="width: 150px"
                                    class="card"
                            >
                                <div class="image-container">
                                    <div class="first">
                                        <div class="d-flex justify-content-between align-items-end">
                                            <span class="discount bg-success">[[ item.category_name ]]</span>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <span class="discount mt-1">-0%</span>
                                        </div>
                                    </div>
                                    <img :src="'/static/product/product1.jpg'"
                                         class="img-fluid rounded thumbnail-image">
                                </div>
                                <div class="product-detail-container p-2">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="dress-name" style="text-transform: uppercase">[[ item.name ]]</h5>
                                        <div class="d-flex flex-column mb-2">
                                            <span
                                                    class="new-price"
                                                    style="font-size: 18px; background-color: yellow; color: red"
                                            >[[ item.price ]] $</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center pt-1">
                                        <div>
                                            <i class="fa fa-star-o rating-star"></i>
                                            <span class="rating-number">4.8</span>
                                        </div>
                                        <span class="buy">BUY +</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {#sale_list#}
                <div class="col-6" style="max-height: 85vh; overflow: scroll">
                    <table class="p-0 m-0 table table-borderless table-striped">
                        <thead>
                        <tr class="bg-secondary text-white">
                            <th>ល.រ</th>
                            <th>ការពិពណ៌នា</th>
                            <th>ចំនួន</th>
                            <th>តម្លៃលក់($)</th>
                            <th>បញ្ខុះតម្លៃ(%)</th>
                            <th>សរុប($)</th>
                            <th>សកម្មភាព</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr
                                v-if="selected_product.length < 1"
                        >
                            <td colspan="7" class="text-center">
                                <span style="color: #cccc">no record...</span>
                            </td>
                        </tr>
                        <template>
                            <tr
                                    v-for="(item, index) in selected_product"
                                    :key="'selected_product_'+index"
                            >
                                <td>
                                    <span>[[ index+1 ]]</span>
                                </td>
                                <td>[[ item.name ]]</td>
                                <td>
                                    <input
                                            v-model="item.qty"
                                            autocomplete="off"
                                            style="width: 100px; text-align: center"
                                            type="number"
                                    >
                                </td>
                                <td>[[ item.price ]]</td>
                                <td>0.0 %</td>
                                <td>[[ item.qty * item.price ]]</td>
                                <td>
                                    <a href="#" class="text-danger">
                                        <i class="fas fa-trash"></i>
                                        លុប
                                    </a>
                                </td>
                            </tr>
                        </template>

                        </tbody>
                    </table>
                    <hr>
                    <div class="row" style="position: sticky; bottom: 10px">
                        <div class="col-12">
                            <table class="table table-sm table-borderless table-striped">
                                <tr>
                                    <td style="text-align: right">Total ($)</td>
                                    <td style="text-align: right">[[ subTotal ]] $</td>
                                </tr>
                                <tr>
                                    <td style="text-align: right">Received amount ($)</td>
                                    <td style="text-align: right">
                                        <input
                                                v-model="received_amount"
                                                type="number"
                                                class="input w-100"
                                        >
                                    </td>
                                <tr
                                        v-if="received_amount - subTotal > 0"
                                >
                                    <td
                                            style="text-align: right"
                                    >
                                        <span style="background-color: yellow; color: firebrick"> Change amount ($)</span>
                                    </td>
                                    <td style="text-align: right">
                                        [[ received_amount - subTotal ]] $
                                        <br>
                                        [[ (received_amount - subTotal) * 4000 ]] ៛
                                    </td>
                                </tr>
                                </tr>
                            </table>
                        </div>
                        <div class="col-6">
                            <button
                                    type="button"
                                    class="btn btn-danger w-100"
                                    @click="resetSale"
                            >Cancel
                            </button>
                        </div>
                        <div class="col-6">
                            <button
                                    type="button"
                                    class="btn btn-success w-100"
                            >Pay
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 pb-5"></div>
</div>
</body>
<script>
    var vue_obj = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            product_list: [],
            category_list: [],
            selected_product: [],
            received_amount: 0,
            change_amount: 0,
        },
        created() {
        },
        mounted() {
            this.fetchData()
        },
        methods: {
            fetchData() {
                let vm = this
                let api_url = "http://127.0.0.1:5000/pos/get-data"
                $.LoadingOverlay("show");
                axios.get(api_url)
                    .then(function (response) {
                        vm.product_list = response.data.product_list
                        vm.category_list = response.data.category_list
                        $.LoadingOverlay("hide");
                    })
                    .catch(function (error) {
                        // handle error
                        console.log(error);
                    })
            },
            addToList(item) {

                let current_product = {
                    id: item.id,
                    name: item.name,
                    cost: item.cost,
                    price: item.price,
                    qty: 1,
                    sub_total: parseFloat(item.price)
                }
                let found = this.selected_product.find(obj => {
                    return obj.id == item.id
                })
                if (!found) {
                    this.selected_product.push(current_product)
                } else {
                    found.qty++
                }

            },
            resetSale() {
                if (this.selected_product.length <= 0){
                    return;
                }

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, Reset it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.selected_product = []
                        this.received_amount = 0
                    }
                });

            }
        },
        computed: {
            subTotal() {
                let total = 0
                this.selected_product.forEach(item => {
                    let sub_total = parseFloat(item.qty) * parseFloat(item.price)
                    total += sub_total
                })
                return total
            }
        }
    });
</script>
</html>
