<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Home</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "navbar.html" %}
        </div>
        <div class="col-md-12 mt-5">
            <div class="jumbotron">
                <h1 class="display-4">Hello, world!</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger
                    container.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
        </div>
    </div>
</div>
</body>
 {% include "footer_script.html" %}
</html>
