<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Add product</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "navbar.html" %}
        </div>
        <div class="col-md-12 mt-5">
            <div class="table-responsive">
                <table id="product_table" class="display">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Cost</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                <img
                                        style="width: 15%;"
                                        src="/static/image/no-image.png"
                                >
                            </td>
                            <td>{{ item['title'] }}</td>
                            <td>{{ item['cost'] }}</td>
                            <td>{{ item['price'] }}</td>
                            <td>{{ item['description'] }}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-outline-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 mt-5">
            <div class="card">
                <div class="card-header">
                    <h3>New Product</h3>
                </div>
                <div class="card-body">
                    <form action="{{ url_for('submit_new_product') }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" id="product_id" name="product_id" value="12121">
                        <div class="form-group">
                            <center>
                                <img id="thumbnil"
                                     style="width:10%;
                                      margin-top:10px; border-radius: 50%"
                                     src="/static/image/no-image.png"
                                     alt="image"
                                >
                            </center>
                            <label for="name">Image</label>
                            <input
                                    type="file"
                                    accept="image/*"
                                    class="form-control"
                                    id="file"
                                    name="file"
                                    onchange="showMyImage(this)"
                            >
                        </div>
                        <div class="form-group">
                            <label for="name">Title</label>
                            <input type="text" class="form-control" id="title" name="title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="price">price</label>
                            <input type="number" class="form-control" id="price" name="price" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="price">price</label>
                            <select class="form-control" id="category" name="category">
                                <option value="drink">drink</option>
                                <option value="water" selected>water</option>
                                <option value="beer">beer</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea
                                    class="form-control" id="description" name="description"
                                    rows="5"
                            ></textarea>
                        </div>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                        <button type="submit" class="btn btn-primary float-right">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% include "footer_script.html" %}
</html>
