<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "header_style.html" %}
    <title>Product</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% include "navbar.html" %}
        </div>
        <div class="col-md-12 mt-5">
            <div class="table-responsive">
                <table id="product_table" class="display">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Cost</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>
                                {% if item['image'] != 'no_image' %}
                                    <img
                                            style="width: 15%;"
                                            src="/static/image/product/{{ item['image'] }}"
                                            onerror="this.src='/static/image/image_error.png';"
                                    >

                                {% endif %}

                                {% if item['image'] == 'no_image' %}
                                    <img
                                            style="width: 15%;"
                                            src="/static/image/no-image.png"
                                    >

                                {% endif %}
                            </td>
                            <td>{{ item['title'] }}</td>
                            <td>{{ item['cost'] }}</td>
                            <td>{{ item['price'] }}</td>
                            <td>{{ item['description'] }}</td>
                            <td>
                                <a href="#" class="btn btn-sm btn-outline-primary">
                                    <i class="far fa-edit"></i>
                                </a>
                                <a href="#" class="btn btn-sm btn-outline-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
{% include "footer_script.html" %}
<script>

    $(document).ready(function () {
        $('#product_table').DataTable();
    });

    function showMyImage(fileInput) {
        let files = fileInput.files;
        for (let i = 0; i < files.length; i++) {
            let file = files[i];
            let imageType = /image.*/;
            if (!file.type.match(imageType)) {
                continue;
            }
            let img = document.getElementById("thumbnil");
            img.file = file;
            let reader = new FileReader();
            reader.onload = (function (aImg) {
                return function (e) {
                    aImg.src = e.target.result;
                };
            })(img);
            reader.readAsDataURL(file);
        }
    }

</script>
</html>
